@{
    ViewData["Title"] = "Admin - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h5>Seja Bem-Vindo Administrador!</h5>

    </div>
</div>